@media (min-width: 768px) {
    .frm-fluent-form {
        .ff-t-container {
            display: table;
            width: 100%;
            table-layout: fixed;
            vertical-align: top;
            &.ff_cond_v {
                display: table !important;
            }
            &.col-30\/70{
                .ff-t-cell{
                    display: inline-block;
                    &:first-of-type{
                        width: 30%;
                    }
                    &:last-of-type{
                        width: 70%;
                    }
                }
            }
            &.col-40\/60{
                .ff-t-cell{
                    display: inline-block;
                    &:first-of-type{
                        width: 40%;
                    }
                    &:last-of-type{
                        width: 60%;
                    }
                }
            }
            &.col-60\/40{
                .ff-t-cell{
                    display: inline-block;
                    &:first-of-type{
                        width: 60%;
                    }
                    &:last-of-type{
                        width: 40%;
                    }
                }
            }
            &.col-70\/30{
                .ff-t-cell{
                    display: inline-block;
                    &:first-of-type{
                        width: 70%;
                    }
                    &:last-of-type{
                        width: 30%;
                    }
                }
            }
        }

        .ff-t-cell {
            display: table-cell;
            padding: 0 15px;
            vertical-align: inherit;
            width: 100%;
            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}